html, body, #root {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-content {
  flex: 1;
}


.hero-wrapper {
  position: relative; /* parent */
  width: fit-content; /* or your fixed width */
}


.hero2 {
  position: absolute; /* child */
    left: 300px;
    width: 600px;
    top: 300px;
}

.price{
  position: absolute;
    top: 150px;
    left: 650px;
}

.rate{
      position: absolute;
    top: 300px;
    left: 700px;
    font-size: 40px;
    font-weight: 700;
    font-family: cursive;
}


.button{
      position: absolute;
    top: 1000px;
    left: 500px;
    width: 200px;
    height: 50px;
    font-family: cursive;
}

.card-container {
  display: flex;
  flex-wrap: wrap;           /* wrap cards on smaller screens */
  gap: 20px;                 /* space between cards */
  justify-content: center;  
  margin-top: 20px /* center the cards */
}

.food-card {
  flex: 1 1 250px;           /* grow, shrink, base width 250px */
  max-width: 250px;          /* fixed max width for uniformity */
  min-height: 350px;         /* optional: same height for all cards */
  display: flex;
  flex-direction: column; 
  transition: transform 0.3s, box-shadow 0.3s;
}


.food-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);

}

.footer{
display: flex;
justify-content:center;
gap: 20px;
align-items: center;
}

.footer-img{
  height: 40px;
    width: 120px;

}

.rating {
    display: flex;
    gap: 10px;
    align-items: center;
}
.cart-button-container{
  display: flex;
  align-items: center;
  gap: 20px;
}

.para-style{
  margin-top: 10px;
}
.items-row{
  background-color: yellowgreen;
    height: 50px;
    border-radius: 100px;
    padding-top: 10px;
    margin: 10px;
}
.top-notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e6ffe6;
  color: #2e7d32;
  padding: 12px 20px;
  border-radius: 6px;
  border: 1px solid #4caf50;
  font-weight: 500;
  z-index: 9999;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.no-cart-items{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 800;
}


